.input-row {
  display: flex;
}

.req {
  color: red;
}

.copyBtn img {
  max-width: 20px;
}

.copyBtn img:hover {
  filter: drop-shadow(16px 16px 20px blue) invert(55%);
}

.name {
  display: flex;
}

#result {
 display: none;
  border-radius: 5px;
  background-color: rgb(199, 199, 199);
  padding: 25px 50px;
  margin-top: 10px;
  margin-left: -25px;
  font-size: 25px;
  max-width: 92%;
}

.copied {
  display: none;
  max-width: 75px;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0px;
  transition: visibility 0s 2s, opacity 2s linear;
}



.env-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.env-options {
  margin-bottom: 25px;
}

.header {
  padding: 0px 15px;
  background-color: rgb(252, 48, 82);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.main {
  width: 100%;
  margin-top: 25px;
  padding-left: 25px;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav a:visited {
  text-decoration: none;
}

.nav a:hover {
  color: pink;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 18px;
}